
h1{
    text-align: center;
    color: white;
    background-color:black;
}

ol{
    color: white;
    font-size: larger;
    
}
.image{
    margin-right: 15%;
    margin-top: -15%;
    width: 30%;
}
#mental{
    margin-right: 5%;
    width:1000px;
    height: 300px;
    
}
