.dis{
    text-align: center;
    font-size: larger;
}
.notice{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    background-color: red;
}
h2{
    
    background-color:black;
    color: azure;
    text-align:center;
}